<div style="text-align:center; cursor: auto;">
    <a href="https://www.credly.com/badges/5277e6b4-acf1-4f18-b83f-05d1d2ef3059/public_url" target="_blank">
        <img 
            src="applied-data-science-capstone.png" 
            width="150" 
            alt="IBM Applied Data Science Badge" 
            style="object-fit: cover; border-radius: 50%;">
    </a>
</div>

**<center><h2>EDA via SQL</h2></center>**

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

In [35]:
pip install sqlalchemy==1.3.9

Requirement already satisfied: sqlalchemy==1.3.9 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (1.3.9)
Note: you may need to restart the kernel to use updated packages.

### Connect to the database

In [2]:
# loads the SQL extension and connects to the database
%load_ext sql

# establishes a connection to a SQLite database and creates a cursor object, which allows to execute SQL commands
import csv, sqlite3
import pandas as pd

In [16]:
# %sql is part of the ipython-sql library. It allows to run SQL queries directly in a Jupyter Notebook.
# specifies the database connection URL
%sql sqlite:///my_data1.db
con = sqlite3.connect("my_data1.db")
cur = con.cursor()


df = pd.read_csv("spacex_dataset.csv")
df.to_sql("SPACEXTABLE", con, if_exists='replace', index=False, method="multi")

# remove blank rows from table
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

df

Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/sql/magic.py", line 203, in execute
    conn.internal_connection.rollback()
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///my_data1.db'])
 * sqlite:///my_data1.db
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/sql/magic.py", line 203, in execute
    conn.internal_connection.rollback()
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///my_data1.db'])

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt
...,...,...,...,...,...,...,...,...,...,...
96,2020-11-05,23:24:23,F9 B5B1062.1,CCAFS SLC-40,"GPS III-04 , Crew-1",4311,MEO,USSF,Success,Success
97,2020-11-16,0:27:00,F9 B5B1061.1,KSC LC-39A,"Crew-1, Sentinel-6 Michael Freilich",12500,LEO (ISS),NASA (CCP),Success,Success
98,2020-11-21,17:17:08,F9 B5B1063.1,VAFB SLC-4E,"Sentinel-6 Michael Freilich, Starlink 15 v1.0",1192,LEO,NASA / NOAA / ESA / EUMETSAT,Success,Success
99,2020-11-25,2:13:00,F9 B5 B1049.7,CCAFS SLC-40,"Starlink 15 v1.0, SpaceX CRS-21",15600,LEO,SpaceX,Success,Success
100,2020-12-06,16:17:08,F9 B5 B1058.4,KSC LC-39A,SpaceX CRS-21,2972,LEO (ISS),NASA (CRS),Success,Success

## Some Insights Extracted via SQL

##### All launch site names

In [17]:
unique_launch_sites = """
SELECT DISTINCT "Launch_Site"
FROM SPACEXTABLE;
"""

cur.execute(unique_launch_sites)

rows = cur.fetchall()

for row in rows:
    print(row)

('CCAFS LC-40',)
('VAFB SLC-4E',)
('KSC LC-39A',)
('CCAFS SLC-40',)


#####  Some launches originated at a CCA launch site

In [18]:
CCA_5 = """
SELECT *
FROM SPACEXTABLE
WHERE "Launch_Site" LIKE "CCA%"
LIMIT 10;
"""

column_names = [description[0] for description in cur.description]
print("Column Names: ", column_names)

cur.execute(CCA_5)
rows = cur.fetchall()

for row in rows:
    print(row)

Column Names:  ['Launch_Site']
('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('2013-12-03', '22:41:00', 'F9 v1.1', 'CCAFS LC-40', 'SES-8', 3170, 'GTO', 'SES', 'Success', 'No attempt')
('2014-01-06', '22:06:00', 'F9 v1.1', 'CCAFS LC-40', 'Thaicom 6', 3325, 'GTO', 'Thaicom', 'Success', 'No attempt')
('2014-04-18', '19:25:00', 'F9 v1.1', 'CCAFS LC-40', 'SpaceX CRS-3', 2296, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Controlled (ocean)')
('2014-07-14', '15:15:00', 'F9 v1.1', 'CCAFS LC-40', 'OG2 Mission 1  6 Orbcomm-OG2 satellites', 1316, 'LEO', 'Orbcomm', 'Success', 'Controlled (ocean)')
('2014-08-05', '8:00:00', 'F9 v1.1', 'CCAFS LC-40', 'AsiaSat 8', 4535, 'GTO', 'AsiaSat', 'Success', 'No attempt')

##### Total payload mass carried by boosters launched by NASA (CRS)

In [6]:
total_payload_mass_CRS = """
SELECT SUM("PAYLOAD_MASS__KG_")
FROM SPACEXTABLE
WHERE "Customer" LIKE "%NASA (CRS)%"
"""

cur.execute(total_payload_mass_CRS)
total_payload_mass_CRS = cur.fetchone()
total_payload_mass_CRS[0]

48213

##### Average payload mass carried by booster version F9 v1.1

In [7]:
average_payload_mass_F9 = """
SELECT AVG("PAYLOAD_MASS__KG_")
FROM SPACEXTABLE
WHERE "Booster_Version" LIKE "%F9 v1.1%"
"""

cur.execute(average_payload_mass_F9)
average_payload_mass_F9 = cur.fetchone()
average_payload_mass_F9[0]

2534.6666666666665

##### Date when the first succesful landing outcome (ground pad) was acheived.

In [8]:
first_successful_landing_date = """
SELECT MIN("Date")
FROM SPACEXTABLE
WHERE "Landing_Outcome" = "Success (ground pad)"
"""

cur.execute(first_successful_landing_date)
first_successful_landing_date = cur.fetchone()
first_successful_landing_date[0]

'2015-12-22'

##### All successfull Boosters in drone ship landing with a payload mass between 4000 and 6000

In [30]:
successful_drone_ship_names = """
SELECT Booster_Version FROM SPACEXTABLE
WHERE "Landing_Outcome" = "Success (drone ship)"
    AND "PAYLOAD_MASS__KG_" > 4000
    AND "PAYLOAD_MASS__KG_" < 6000;
"""

cur.execute(successful_drone_ship_names)
rows = cur.fetchall()

for row in rows:
    print(row)

('F9 FT B1022',)
('F9 FT B1026',)
('F9 FT  B1021.2',)
('F9 FT  B1031.2',)

##### Total number of successful and failed mission outcomes

In [33]:
successful_outcomes = """
SELECT COUNT('*')
FROM SPACEXTABLE
WHERE "Mission_Outcome" LIKE "Success%"
"""

cur.execute(successful_outcomes)
successful_missions = cur.fetchone()[0]


failed_outcomes = """
SELECT COUNT ('*')
FROM SPACEXTABLE
WHERE "Mission_Outcome" LIKE "Failure%"
"""

cur.execute(failed_outcomes)
failed_missions = cur.fetchone()[0]


successful_missions, failed_missions

(100, 1)

##### All boster Versions which have carried the maximum payload mass

In [ ]:
max_payload_mass = """
SELECT "Booster_Version"
FROM SPACEXTABLE
WHERE "PAYLOAD_MASS__KG_" = (
    SELECT MAX("PAYLOAD_MASS__KG_")
    FROM SPACEXTABLE
);
"""

cur.execute(max_payload_mass)
rows = cur.fetchall()

for row in rows:
    print(row)

##### All 2015 failed launches (drone ship) with their month number, booster version, and launch site

In [62]:
max_payload_mass = """
SELECT strftime('%m', "Date") AS Month, 
       "Landing_Outcome", 
       "Booster_Version", 
       "Launch_Site"
FROM SPACEXTABLE
WHERE "Landing_Outcome" = 'Failure (drone ship)' 
  AND strftime('%Y', "Date") = '2015';
"""


cur.execute(max_payload_mass)
rows = cur.fetchall()

for row in rows:
    print(row)

('01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40')
('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')

##### Ranking of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the dates of 06/04/2010 and 03/20/2021, in descending order.

In [89]:
landing_outcomes_ranking = """
SELECT 
    "Landing_Outcome", 
    COUNT(*) AS Outcome_Count,
    RANK() OVER (ORDER BY COUNT(*) DESC) AS Rank
FROM SPACEXTABLE
WHERE "Date" BETWEEN '2010-06-04' AND '2021-03-20'
GROUP BY "Landing_Outcome"
ORDER BY Rank;
"""


cur.execute(landing_outcomes_ranking)
rows = cur.fetchall()

# for row in rows:
#     print(row)

header = ['Landing_Outcome', 'Outcome_Count', 'Rank']
print("{:<25} {:<15} {:<5}".format(header[0], header[1], header[2]))

for row in rows:
    print("{:<25} {:<15} {:<5}".format(row[0], row[1], row[2]))

Landing_Outcome           Outcome_Count   Rank
Success                   38              1
No attempt                21              2
Success (drone ship)      14              3
Success (ground pad)      9               4
Failure (drone ship)      5               5
Controlled (ocean)        5               5
Failure                   3               7
Uncontrolled (ocean)      2               8
Failure (parachute)       2               8
Precluded (drone ship)    1               10
No attempt                1               10