<div style="text-align:center; cursor: auto;">
    <a href="https://www.credly.com/badges/5277e6b4-acf1-4f18-b83f-05d1d2ef3059/public_url" target="_blank">
        <img 
            src="applied-data-science-capstone.png" 
            width="150" 
            alt="IBM Applied Data Science Badge" 
            style="object-fit: cover; border-radius: 50%;">
    </a>
</div>

**<center><h2>EDA via SQL</h2></center>**

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

In [32]:
pip install sqlalchemy==1.3.9

Requirement already satisfied: sqlalchemy==1.3.9 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (1.3.9)
Note: you may need to restart the kernel to use updated packages.

### Connect to the database

In [33]:
# loads the SQL extension and connects to the database
%load_ext sql

# establishes a connection to a SQLite database and creates a cursor object, which allows to execute SQL commands
import csv, sqlite3
import pandas as pd

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [34]:
# %sql is part of the ipython-sql library. It allows to run SQL queries directly in a Jupyter Notebook.
# specifies the database connection URL
%sql sqlite:///my_data1.db
con = sqlite3.connect("my_data1.db")
cur = con.cursor()


df = pd.read_csv("spacex_dataset_part_1.csv")
df.to_sql("SPACEXTABLE", con, if_exists='replace', index=False, method="multi")

# remove blank rows from table
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

df

Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/sql/magic.py", line 203, in execute
    conn.internal_connection.rollback()
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///my_data1.db'])
 * sqlite:///my_data1.db
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/sql/magic.py", line 203, in execute
    conn.internal_connection.rollback()
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///my_data1.db'])

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,2010-06-04,Falcon 9,6123.547647,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,86,2020-09-03,Falcon 9,15600.000000,VLEO,KSC LC 39A,True ASDS,2,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,12,B1060,-80.603956,28.608058
86,87,2020-10-06,Falcon 9,15600.000000,VLEO,KSC LC 39A,True ASDS,3,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,13,B1058,-80.603956,28.608058
87,88,2020-10-18,Falcon 9,15600.000000,VLEO,KSC LC 39A,True ASDS,6,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,12,B1051,-80.603956,28.608058
88,89,2020-10-24,Falcon 9,15600.000000,VLEO,CCSFS SLC 40,True ASDS,3,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,12,B1060,-80.577366,28.561857
89,90,2020-11-05,Falcon 9,3681.000000,MEO,CCSFS SLC 40,True ASDS,1,True,False,True,5e9e3032383ecb6bb234e7ca,5.0,8,B1062,-80.577366,28.561857

## Some Insights Extracted via SQL

##### All launch site names

In [35]:
unique_launch_sites = """
SELECT DISTINCT "Launch_Site"
FROM SPACEXTABLE;
"""

cur.execute(unique_launch_sites)

rows = cur.fetchall()

for row in rows:
    print(row)

('Launch_Site',)


#####  Some launches originated at a CCA launch site

In [36]:
CCA_5 = """
SELECT *
FROM SPACEXTABLE
WHERE "Launch_Site" LIKE "CCA%"
LIMIT 10;
"""

column_names = [description[0] for description in cur.description]
print("Column Names: ", column_names)

cur.execute(CCA_5)
rows = cur.fetchall()

for row in rows:
    print(row)

Column Names:  ['"Launch_Site"']

##### Total payload mass carried by boosters launched by NASA (CRS)

In [37]:
total_payload_mass_CRS = """
SELECT SUM("PAYLOAD_MASS__KG_")
FROM SPACEXTABLE
WHERE "Customer" LIKE "%NASA (CRS)%"
"""

cur.execute(total_payload_mass_CRS)
total_payload_mass_CRS = cur.fetchone()
total_payload_mass_CRS[0]

##### Average payload mass carried by booster version F9 v1.1

In [38]:
average_payload_mass_F9 = """
SELECT AVG("PAYLOAD_MASS__KG_")
FROM SPACEXTABLE
WHERE "Booster_Version" LIKE "%F9 v1.1%"
"""

cur.execute(average_payload_mass_F9)
average_payload_mass_F9 = cur.fetchone()
average_payload_mass_F9[0]

##### Date when the first succesful landing outcome (ground pad) was acheived.

In [39]:
first_successful_landing_date = """
SELECT MIN("Date")
FROM SPACEXTABLE
WHERE "Landing_Outcome" = "Success (ground pad)"
"""

cur.execute(first_successful_landing_date)
first_successful_landing_date = cur.fetchone()
first_successful_landing_date[0]

##### All successfull Boosters in drone ship landing with a payload mass between 4000 and 6000

In [40]:
successful_drone_ship_names = """
SELECT Booster_Version FROM SPACEXTABLE
WHERE "Landing_Outcome" = "Success (drone ship)"
    AND "PAYLOAD_MASS__KG_" > 4000
    AND "PAYLOAD_MASS__KG_" < 6000;
"""

cur.execute(successful_drone_ship_names)
rows = cur.fetchall()

for row in rows:
    print(row)

OperationalError: no such column: Booster_Version

##### Total number of successful and failed mission outcomes

In [ ]:
successful_outcomes = """
SELECT COUNT('*')
FROM SPACEXTABLE
WHERE "Mission_Outcome" LIKE "Success%"
"""

cur.execute(successful_outcomes)
successful_missions = cur.fetchone()[0]


failed_outcomes = """
SELECT COUNT ('*')
FROM SPACEXTABLE
WHERE "Mission_Outcome" LIKE "Failure%"
"""

cur.execute(failed_outcomes)
failed_missions = cur.fetchone()[0]


successful_missions, failed_missions

(100, 1)

##### All boster Versions which have carried the maximum payload mass

In [ ]:
max_payload_mass = """
SELECT "Booster_Version"
FROM SPACEXTABLE
WHERE "PAYLOAD_MASS__KG_" = (
    SELECT MAX("PAYLOAD_MASS__KG_")
    FROM SPACEXTABLE
);
"""

cur.execute(max_payload_mass)
rows = cur.fetchall()

for row in rows:
    print(row)

('F9 B5 B1048.4',)
('F9 B5 B1049.4',)
('F9 B5 B1051.3',)
('F9 B5 B1056.4',)
('F9 B5 B1048.5',)
('F9 B5 B1051.4',)
('F9 B5 B1049.5',)
('F9 B5 B1060.2 ',)
('F9 B5 B1058.3 ',)
('F9 B5 B1051.6',)
('F9 B5 B1060.3',)
('F9 B5 B1049.7 ',)

##### All 2015 failed launches (drone ship) with their month number, booster version, and launch site

In [ ]:
max_payload_mass = """
SELECT strftime('%m', "Date") AS Month, 
       "Landing_Outcome", 
       "Booster_Version", 
       "Launch_Site"
FROM SPACEXTABLE
WHERE "Landing_Outcome" = 'Failure (drone ship)' 
  AND strftime('%Y', "Date") = '2015';
"""


cur.execute(max_payload_mass)
rows = cur.fetchall()

for row in rows:
    print(row)

('01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40')
('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')

##### Ranking of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the dates of 06/04/2010 and 03/20/2021, in descending order.

In [ ]:
landing_outcomes_ranking = """
SELECT 
    "Landing_Outcome", 
    COUNT(*) AS Outcome_Count,
    RANK() OVER (ORDER BY COUNT(*) DESC) AS Rank
FROM SPACEXTABLE
WHERE "Date" BETWEEN '2010-06-04' AND '2021-03-20'
GROUP BY "Landing_Outcome"
ORDER BY Rank;
"""


cur.execute(landing_outcomes_ranking)
rows = cur.fetchall()

# for row in rows:
#     print(row)

header = ['Landing_Outcome', 'Outcome_Count', 'Rank']
print("{:<25} {:<15} {:<5}".format(header[0], header[1], header[2]))

for row in rows:
    print("{:<25} {:<15} {:<5}".format(row[0], row[1], row[2]))

Landing_Outcome           Outcome_Count   Rank
Success                   38              1
No attempt                21              2
Success (drone ship)      14              3
Success (ground pad)      9               4
Failure (drone ship)      5               5
Controlled (ocean)        5               5
Failure                   3               7
Uncontrolled (ocean)      2               8
Failure (parachute)       2               8
Precluded (drone ship)    1               10
No attempt                1               10